<div class="container text-center bg-body-tertiary">
  <h1>Surya</h1>
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mx-auto gap-3 w-75">
      <li class="col nav-item"><%= link_to "Home", root_path, class: 'w-100 btn btn-outline-secondary active' %></li>
      <li class="col nav-item"><%= link_to 'Property Browser', '#', class: 'w-100 btn btn-outline-secondary' %></li>
      <li class="col nav-item"><%= link_to 'FAQ', '#', class: 'w-100 btn btn-outline-secondary' %></li>
      <li class="col nav-item"><%= link_to 'Contact Us', '#', class: 'w-100 btn btn-outline-secondary' %></li>
      <li class="col nav-item"><%= link_to 'About Us', '#', class: 'w-100 btn btn-outline-secondary' %></li>
    </ul>
  </nav>
  <h3 class="mt-5 mb-3">Welcome to the Surya estate agents website</h3>
  <p>
    At Surya Estate Agents, we understand that finding the perfect home is more than just a transaction - it's about discovering a place where you can build memories, create a comfortable lifestyle, and truly belong. 
    With our expertise and dedication, we are here to guide you every step of the way. At Surya Estate Agents, we understand that buying, selling, or renting a property is a significant milestone in your life.
    That's why we are here to provide you with professional and personalized service to guide you through every step of your real estate journey.
  </p>
  <div class="row row-cols-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <i class="fa-light fa-compass fa-2xl my-4"></i>
          <h5 class="card-title">Explore out extensive listings.</h5>
          <p class="card-text">Discover a wide range of properties tailored to your unique needs and preferences. Whether you're searching for a cozy apartment, a spacious family house, our diverse portfolio has something for everyone. Browse through our listings and find the perfect property that feels like home.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <i class="fa-light fa-handshake fa-2xl my-4"></i>
          <h5 class="card-title">Professional and personalised service.</h5>
          <p class="card-text">Our experienced team of real estate experts is committed to providing exceptional service tailored to your individual requirements. We take the time to understand your needs, listen to your preferences, and strive to exceed your expectations. With Surya Estate Agents, you can trust that your home search is in capable hands.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <i class="fa-light fa-globe fa-2xl my-4"></i>
          <h5 class="card-title">Local knowledge, global reach.</h5>
          <p class="card-text">As a locally rooted agency with a global perspective, we have an in-depth understanding of the local property market. Our extensive network and partnerships allow us to offer you a wide range of options and connect you with properties that suit your lifestyle and investment goals.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <i class="fa-light fa-face-smile fa-2xl my-4"></i>
          <h5 class="card-title">Your satisfaction is our priority.</h5>
          <p class="card-text">At Surya Estate Agents, we believe in building long-lasting relationships with our clients. We are dedicated to your satisfaction and aim to make your home buying or selling journey smooth and stress-free. Trust us to provide honest advice, transparent communication, and expert guidance throughout the entire process.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag "moving_day.jpg", alt: "Lets get moving", class: "w-100 rounded" %>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <i class="fa-light fa-map fa-2xl my-4"></i>
          <h5 class="card-title">Begin your journet with Sura Estate Agents today.</h5>
          <p class="card-text">Start your search for the perfect home or let us assist you in selling your property. Contact our friendly team and experience the difference of working with a reliable and trustworthy estate agency. Your dream home awaits with Surya Estate Agents.</p>
        </div>
      </div>
    </div>
  </div>
</div>
